$basic-black: #000000;
$basic-white: #ffffff;
$basic-grey: #f8f8f8;
$basic-font: #2C2E3F;
$basic-font-dark: #48494D;
$basic-dark: #141517;
$basic-pink: #FE7865;
$basic-coral: #F17D4B;
$footer-border: #D7D9DF;

$mobile-width: 767px;
$tablet-width: 1023px;
